@import url(reset.css);

body {
	height: 100%;
  overflow: auto;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: brown;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

nav{
	position: fixed;
	width: 100%;
	min-height: 80px;
	background: rgba(28, 28, 28, 0.85); /*#1C1C1C;*/
	border-bottom: 1px solid #A64600;
	box-shadow: 0px 4px 6px #fff;
	z-index: 999999;
}

footer {
	position: fixed;
	top:auto;
	bottom: 0;
	color: #fff;
	width: 100%;
	background: rgba(28, 28, 28, 0.9);
	text-align: center;
}

footer p{
	padding: 5px;
}

.logo {
	margin: 0 10px;
	padding: 5px;
	float: left;
}

.topMenu{
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.topMenu ul li{
	display: inline-block;
	float: left;
}
.topMenu ul li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	padding: 20px 15px 15px 15px;
	line-height: 40px;
	font-size: 20px;
	font-family: 'Scada', sans-serif;
	letter-spacing: inherit;
}
.topMenu ul li a:hover{
	color: #A64600;
	background-color: transparent;
	text-shadow: 1px 1px 1px black, 2px 2px 6px #fff;
	transition: 0.5s;

}


#wrapper{
	flex: 1 0 auto;
	max-width: 90%;
	min-width: 90%;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 5%;
}

#main_menu{
	padding-top: 120px;
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

#photo1, #photo2, #photo3, #photo4, #photo5, #photo6, #photo7, #photo8{
	height: 15vw;
	background-size:100% 100%;
	border-radius: 20px;
	margin: 5px;
	text-decoration: none;
	box-shadow: 2px 7px 10px #000;
	transition: 0.5s;
}

#photo1{
	background-image: url(../images/1.jpg);
}

#photo2{
	background-image: url(../images/2.jpg);
}

#photo3{
	background-image: url(../images/3.jpg);
}

#photo4{
	background-image: url(../images/4.jpg);
}

#photo5{
	background-image: url(../images/5.jpg);
}

#photo6{
	background-image: url(../images/6.jpg);
}

#photo7{
	background-image: url(../images/7.jpg);
}

#photo8{
	background-image: url(../images/8.jpg);
}

/*flip image*/
.block{
    height: 100%;
    width: 100%;
    background:rgba(255,255,255, 0.7);
    border-radius: 20px;
    display:none;
    text-align: center;
    padding: 20px 40px 20px 40px;
}
.block h2{
	margin-bottom: 10px;
	font-size: 30px;
	color: #1047A9;
	font-family: 'Russo One', sans-serif;
}
.block p{
	color: #052A6E;
	font-weight: bold;
	font-size: 16px;
	font-family: 'PT Serif Caption', serif;
}

#photo1:hover,
#photo2:hover,
#photo3:hover,
#photo4:hover,
#photo5:hover,
#photo6:hover,
#photo7:hover,
#photo8:hover{
    display:block;
    cursor: pointer;
    box-shadow: 1px 1px 2px #000;
    transition: 0.5s;
}

#photo1:hover .block,
#photo2:hover .block,
#photo3:hover .block,
#photo4:hover .block,
#photo5:hover .block,
#photo6:hover .block,
#photo7:hover .block,
#photo8:hover .block{
    display:block;
    cursor: pointer;
    box-shadow: 1px 1px 2px #000;
}
/*end flip image*/


/*Media*/

@media screen and (min-width: 1400px)  {
	#main_menu{
		grid-template-columns: 25% 25% 25% 25%;
	}
}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1400px)  {
	.topMenu{
		display: none;
	}

	#photo1, #photo2, #photo3, #photo4, #photo5, #photo6, #photo7, #photo8{
		height: 20vw;
	}

	#main_menu{
		grid-template-columns: 33% 33% 33%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.topMenu{
		display: none;
	}

	#photo1, #photo2, #photo3, #photo4, #photo5, #photo6, #photo7, #photo8{
		height: 30vw;
	}
	#main_menu{
		grid-template-columns: 50% 50%;
	}
}

@media screen and (min-width: 500px) and (max-width: 768px) {
	.topMenu{
		display: none;
	}

	#photo1, #photo2, #photo3, #photo4, #photo5, #photo6, #photo7, #photo8{
		height: 50vw;
	}
	#main_menu{
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 500px) and (max-width: 768px) {

		.block {
			padding: 10px 20px 10px 20px;
		}

		.block h2{
			margin-bottom: 0px;
			font-size: 20px;

		}
		.block p{
			font-size: 12px;
		}

		.topMenu{
			display: none;
		}

		#photo1, #photo2, #photo3, #photo4, #photo5, #photo6, #photo7, #photo8{
			height: 50vw;
		}
		#main_menu{
			grid-template-columns: 100%;
		}
	}	



/*end Media*/

/*cooking*/
#cookingPage{
	padding-top: 120px;
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: 30% auto;

}

.pageName{
	font-style: italic;
	text-align: center;
	grid-column: 1/3;
	margin-bottom: 50px;
}

.pageName h2, h1{
  margin-bottom: 30px;
  font-size: 80px;
  color: #e0955e;
  font-family: 'Pattaya', sans-serif;
  text-shadow: 1px 1px 0px #000, 5px 6px 4px #000;
  letter-spacing: 5px;
}

.cookingTopButtons{
	grid-column: 1/3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
}

.cookingList{
	padding: 0 100px;
	margin-right: 10px;
	border-radius: 20px;
	color: #052A6E;
	font-family: 'Lobster', cursive;
	position: relative;
}

/*start cooking top button*/
.cookingList p {
  position: absolute;
  height: 50px;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  color: #000;
  transition: 0.5s;
  overflow: hidden;
  padding: 10px 10px;
  background: #F2DB6D;
  border-radius: 20px;
  box-shadow: 2px 7px 10px #000;
}
.cookingList p:hover {
	cursor: pointer;
  color: #000;
  text-shadow: 1px 2px 3px #fff;
  box-shadow: 1px 1px 2px #000;
  background: rgba(166, 70, 0, 0.6);
  transition: 0.5s;
 
}

/* end cooking top button*/


.sideBar{
    min-height: 1000px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 14px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 20px #000;
    word-wrap: break-word; /* Перенос слов */ 
}

.sideBar__title h1{
	font-size: 30px;
	text-shadow: 1px 1px 0px #000;
	margin: 10px 0;

}

.sideBar__list{
	overflow: auto;
}

.sideBar__listItem ul li {
	position:relative; /* Создаем контекст для позиционирования элементов */
	margin: 5px 0 0 0; /* Даем каждому элементу списка отступ слева, что бы освободить пространство для нумерации */
	padding:4px 8px;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	text-align: left;
	font-family: 'Pacifico', cursive;
}


.sideBar__listItem ul li:hover {
	background: #F2DB6D;
	cursor: pointer;
}

.mainRecipe{
	overflow: auto;
  min-height: 1000px;
  font-size: 20px;
  color: #000;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 20px #000;
  padding: 10px;
  font-family: 'Bad Script', cursive;
}

.mainRecipe__title{
	text-align:center;
	font-size: 30px;
	text-shadow: 1px 1px 0px #000;
	margin: 10px 0;
}

.mainRecipe__img{
	height: 15vw;
	background-size:100% 100%;
	border-radius: 20px;
	box-shadow: 2px 7px 10px #000;
	max-width: 40%;
	min-width: 40%;
	margin: 10px;
	float: right;
	
}

.mainRecipe__text{
	padding: 20px 10px 0 10px;
	line-height: 40px;
	text-align: justify;
}

.mainRecipe__text span{
	text-decoration: underline;
	font-weight: bold;

}

.mainRecipe__comment{
	font-family: 'Neucha', cursive;
	line-height: 30px;
	padding: 20px 10px 0 10px;
}
.mainRecipe__comment span{
	font-weight: bold;
}

.mainRecipe__singleComment{
	width: 80%;
	background-color:rgba(243, 231, 150, 0.9);
	margin: 10px auto;
	padding: 0 10px;
	border: 1px solid #000;
	box-shadow: 1px 2px 3px #000;
}

.mainRecipe__commentFrom{
	width: 100%;
		background-color:rgba(243, 231, 150, 0.9);
		margin: 20px auto;
		padding: 0 10px;
		border: 1px solid #000;

}

#recipie_id{
	display: none;
}
.commentAuthor{
	float: left;
}

.commentDate{
	float: right;
}



/*end cooking*/


.clear{
	clear: both;
}